$browser-bottom-color: #E2E2E1;
$browser-top-color: lighten($browser-bottom-color, 2%);

$browser-width: 800px;

.browser-window {
  margin: 0;
  width: $browser-width;
  display: inline-block;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
}
.browser-window .top-bar {
  height: 30px;
  border-radius: 5px 5px 0 0;
  border-top: thin solid lighten($browser-top-color, 1%);
  border-bottom: thin solid darken($browser-bottom-color, 1%);
  background: linear-gradient($browser-top-color, $browser-bottom-color);
}
.browser-window .circle {
  height: 8px;
  width: 8px;
  vertical-align: top;
  margin-top: 5px;
  display: inline-block;
  border-radius: 50%;
  background-color: lighten($browser-top-color, 10%);
}
.browser-window .circles { margin: 5px 11px; }
.browser-window .content {
  margin: 0;
  width: 100%;
  min-height: 50%;
  display: inline-block;
  border-radius: 0 0 5px 5px;
}
