$footer-height: 200px;

html, body {
  height: 100%;
}

.site-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;
}

.site-wrap:after {
  content: "";
  display: block;
}

.footer, .site-wrap:after {
  height: $footer-height;
}
