// Base thematic styles

body {
  color: $dark-gray;
  background-color: #fff;
}

a {
  color: $primary;
  text-decoration: none;
  &:hover {
    color: darken($primary, 10%);
    text-decoration: underline;
  }
}

