.full-width.browser-box {
  text-align: center;
  position: absolute;
  height: 600px;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #3D9970;
  margin-top: 100px;
  overflow: hidden;
  border-bottom: thin solid #fafafa;
}
.browser-box-spacer {
  height: 800px;
}

.browser-box h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 100;
  padding: 30px 0;
}

.browser-window {
  margin: 20px;
  width: 80%;
  height: 500px;
  display: inline-block;
  border-radius: 5px;
  background-color: #fff;
}

.browser-window .top-bar {
  text-align: left;
  height: 30px;
  border-radius: 5px 5px 0 0;
  border-top: thin solid #eaeae9;
  border-bottom: thin solid #dfdfde;
  background: linear-gradient(#e7e7e6, #e2e2e1);
}

.browser-window .circle {
  height: 8px;
  width: 8px;
  display: inline-block;
  border-radius: 50%;
  background-color: white;
}

.browser-window .circles {
  margin: -4px 11px;
}

.browser-window .content {
  margin: 0;
  width: 100%;
  min-height: 50%;
  display: inline-block;
  border-radius: 0 0 5px 5px;
  background-color: #fafafa;
}

.browser-window .dev-tools {
  width: 100%;
  min-height: 50%;
  margin: 0;
  padding: 0;
}

.browser-window .dev-tools .bar {
  margin-top: -8px;
  border-top: thin solid #e7e7e6;
  border-bottom: thin solid #e7e7e6;
  color: #e7e7e6;
}
.browser-window .dev-tools .bar .dev-bar-content {
  padding: 10px;
  float: left;
}
.browser-window .dev-tools .bar .close {
  float: right;
  border-left: thin solid #e7e7e6;
  padding: 10px;
}

.browser-window .dev-tools .content .html {
  height: 100%;
  width: 69%;
  border-right: thin solid #e7e7e6;
}
.browser-window .dev-tools .content .css {
  float: right;
  height: 100%;
  width: 30%;
}

.clear {
  clear: both;
}