<footer class="">
  <div class="f6 mid-gray">
    Crafted with &lt;3 by <a class="link dim mid-gray" href="{{site.authorData.url}}">John Otander</a> (<a href="https://twitter.com/{{site.authorData.twitter}}">@{{site.authorData.twitter}}</a>).
  </div>
</footer>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-38554429-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-38554429-1');
</script>
