<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <div class="measure-wide center pt4 ph2 pb5 mw100">
    {% include header.html %}
    <div class="pt2 pt4-ns">
      {{ content }}
    </div>
  </div>
  <footer class="bt b--light-gray f6 gray pa5">
    <div class="measure-wide tc center ph2">
      Crafted with &lt;3 by John Otander (<a class="link black" href="https://twitter.com/4lpine">@4lpine</a>)
    </div>
  </footer>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-38554429-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script>
    ga('require', 'Clearbit', {"mapping":{"companyName":"dimension1","companyEmployeesRange":"dimension2","companyTags":"dimension3","companyTech":"dimension4","companySubIndustry":"dimension5","companyIndustry":"dimension6","companyIndustryGroup":"dimension7","companySector":"dimension8","companyType":"dimension9","companyDomain":"dimension10"}});
  </script>
  <script async src="https://ga.clearbit.com/v1/ga.js?authorization=pk_18b58d033cc39b9d48f992920ff1be54"></script>
</body>
</html>
