<!DOCTYPE html>
<html>
{% include head.html %}
  <body class="w-100 sans-serif bg-white">
    <div class="pa3 pa5-ns">
      <h1 class="f2 f-subheadline-ns mb4">
        Hello, my name is John Otander and I build websites that are as fast as can be.
      </h1>
      <nav role="navigation">
        {% for nav_item in site.nav_items %}
          <a href="/{{nav_item}}" class="gray f6 mb4 ttu tracked link mr2">{{nav_item}}</a>
        {% endfor %}
      </nav>
    {{ content }}
    </div>
</body>
</html>
