<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <div class="measure-wide center pt4 ph2 pb5 mw100">
    {% include header.html %}
    <div class="pt2 pt4-ns">
      {{ content }}
    </div>
  </div>
  <footer class="bt b--light-gray f6 gray pa5">
    <div class="measure-wide tc center ph2">
      Crafted with &lt;3 by John Otander (<a class="link black" href="https://twitter.com/4lpine">@4lpine</a>)
    </div>
  </footer>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-38554429-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-38554429-1');
</script>
  <script>
    ga('require', 'Clearbit', {"mapping":{"companyName":"dimension1","companyDomain":"dimension10","companyTags":"dimension3","companySector":"dimension8","companyIndustryGroup":"dimension7","companyIndustry":"dimension6","companySubIndustry":"dimension5","companyType":"dimension9","companyEmployeesRange":"dimension2","companyAlexaRank":"dimension12","companyCity":"dimension18","companyState":"dimension19","companyCountry":"dimension20","companyFunding":"dimension14","companyTech":"dimension4"}});
  </script>

  <script async src="https://ga.clearbit.com/v1/ga.js?authorization=pk_18b58d033cc39b9d48f992920ff1be54"></script>
</body>
</html>
